.dual-axis-grouped-bar-chart {
    width: 100%;
    height: 100%;
}

.dual-axis-grouped-bar-chart .bar {
    shape-rendering: geometricPrecision;
}

.dual-axis-grouped-bar-chart .zero-line {
    shape-rendering: crispEdges;
}